*{
  margin: auto;
  padding: auto;
  box-sizing: border-box;
}
body{
  background: seashell;
}
.container{
  background: snow;
  margin-top: 4em;
  display: grid;
  margin: 4em auto;
  width: 400px;
  border-radius: 1em;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.4);
  transition: 0.3s ease-in-out;
}
.container h1{
  margin: 1em auto;
}
.display{
  display: flex;
}
.display-img img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}
.btn{
  margin: 1em auto auto auto;
  width: 100%;
  display: block;
  border: none;
  background: brown;
  color: white;
  padding: 0.5em;
  font-size: 1.2em;
  border-radius: 0.7em;
  cursor: pointer;
}